[buildout]
parts = test coverage-test coverage-report
develop = .
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = zope.principalregistry [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.principalregistry
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[versions]
zope.security = 4.0.0a3
